@import "tailwindcss";

:root {
  --primary: #294946;
  --primary-light: #3a6360;
  --secondary: #4a837a;
  --secondary-light: #65a09a;
  --accent: #fa9937;
  --accent-light: #ffad5c;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-semibold;
  }
  h1 {
    @apply text-4xl md:text-5xl leading-tight;
  }
  h2 {
    @apply text-3xl md:text-4xl leading-tight;
  }
  h3 {
    @apply text-2xl md:text-3xl;
  }
  h4 {
    @apply text-xl md:text-2xl;
  }
  p {
    @apply leading-relaxed;
  }
  .container {
    @apply px-4 sm:px-6 lg:px-8 mx-auto max-w-7xl;
  }
}
